<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="~/shoppe_logo32.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shoppe | Nền tảng mua sắm & bán hàng online</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="header-section">
        <header class="header text-micro">
            <div class="navbar-expand">
                <div class="container" id="globalheader">
                    <div class="column-container d-flex justify-content-between">
                        <a asp-area="" asp-controller="Home" asp-action="Index" title="Shoppe Shop" class="header-logo-link">
                            <div class="header-logo">
                                <img class="logo" src="~/Images/Icons/shoppe_logo128.png"/>
                                <span class="fw-bold">Shoppe</span>
                            </div>
                        </a>
                        <nav class="d-flex">
                            <a asp-area="Customer" asp-controller="AllProducts" asp-action="Index" class="tab-link">Tất cả sản phẩm</a>
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="tab-link">Giỏ hàng</a>
                            <a asp-area="Seller" asp-controller="Home" asp-action="Index" class="tab-link">Kênh người bán</a>
                            <a asp-area="" asp-controller="Home" asp-action="Contact" class="tab-link">Liên hệ</a>
                        </nav>
                        <div class="d-flex auth-cart gap-3">
                            @if (User.IsInRole("Customer") || User.IsInRole("Admin"))
                            {
                                <form asp-area="Customer" asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="invisible-button align-content-center tab-link">Đăng xuất</button>
                                </form>
                            }
                            else {
                                <a asp-area="Customer" asp-controller="Account" asp-action="Login" class="tab-link align-content-center">Đăng nhập</a>
                                <a asp-area="Customer" asp-controller="Account" asp-action="Register" class="tab-link align-content-center">Đăng ký</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="view-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer-size">
        <div class="footer-expand">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column gap-4">
                        <div class="d-flex gap-4 justify-content-center">
                            <a class="tab-link" href="#">Điều khoản sử dụng</a>
                            <a class="tab-link" href="#">Chính sách bảo mật</a>
                            <a class="tab-link" href="#">Chính sách trả hàng và hoàn tiền</a>
                        </div>
                        <div class="center-content">
                            © 2025 Shoppe Developers.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>