@{
    ViewData["Title"] = "Giỏ hàng";
}
<div class="container">
    <div class="gh-grid">
        <div class="sidebar">

        </div>
        <div class="products-container">
            <div>
                <ul class="products-list">
                    <li>
                        <div class="d-flex">
                            <a>

                            </a>
                            <a>
                                <div>
                                    Ten San Pham
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>Test SP 2</li>
                    <li>Test SP 3</li>
                    <li>Test SP 4</li>
                    <li>Test SP 5</li>
                    <li>Test SP 6</li>
                </ul>
            </div>
        </div>
    </div>
</div>
