@{
    ViewData["Title"] = "Trang chủ";
}
<div class="template">
    <div class="d-flex flex-column gap-5">
        <div class="container">
            <div class="center-content d-flex flex-column gap-4">
                <div>
                    <div>
                        <h1 class="headline">Shoppe Kênh người bán</h1>
                    </div>
                </div>
                <div class="text-body-1 subtitle">
                    Shopee kết nối người mua và người bán với hàng triệu sản phẩm thời trang, công nghệ, gia dụng. Thanh toán an toàn, hỗ trợ tận tâm – tất cả trong một nền tảng!
                </div>
                <div>
                    <div class="button-group">
                        <a class="btn btn-black" href="#">Mua sắm ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="~/Images/home-main-image.webp" style="width: 100%;" />
        </div>
    </div>
</div>

<div class="template">
    <div class="d-flex flex-column gap-5">
        <div class="container">
            <div class="center-content d-flex flex-column gap-4">
                <div>
                    <div>
                        <h1 class="headline-b">Mua sắm theo danh mục</h1>
                    </div>
                </div>
                <div class="text-body-1 subtitle">
                    Khám phá ngay: những sản phẩm thời trang phong cách, thiết bị điện tử hiện đại, mỹ phẩm và chăm sóc sắc đẹp tinh tế, đồ gia dụng tiện nghi, những cuốn sách hấp dẫn - và hơn thế nữa
                </div>
                <div>
                    <div class="button-group">
                        <a class="btn btn-black" href="#">Mua sắm ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex flex-row gap-3 justify-content-between">
                <div class="flex-1">
                    <a class="tab-link" href="#">
                        <div class="graphic-cover">
                            <img src="~/Images/thoi-trang.jpg"/>
                        </div>
                        <div class="text-style-1">
                            Thời trang
                        </div>
                    </a>
                </div>
                <div class="flex-1">
                    <a class="tab-link" href="#">
                        <div class ="graphic-cover">
                            <img src="~/Images/vat-dung.jpg" />
                        </div>
                        <div class ="text-style-1">
                            Vật dụng
                        </div>
                    </a>
                </div>
                <div class="flex-1">
                    <a class="tab-link" href="#">
                        <div class="graphic-cover">
                            <img src="~/Images/my-pham.jpg" />
                        </div>
                        <div class="text-style-1">
                            Mỹ phẩm
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>